@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css");

:root {
    --font-family: 'Noto Sans', sans-serif;
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color-dark4: #0f2d37;
    --color-dark3: #001e28;
    --color-dark2: #00141e;
    --color-dark1: #010a0f;
    --color-dark1-transparent: #010a0fbf;

    --color-light4: #999;
    --color-light3: #aaa;
    --color-light2: #ccc;
    --color-light1: #fff;
    --color-light1-transparent: #ffffffbf;

    --color-white: #fff;
    --color-black: #000;

    --color-red: #c80037;
    --color-red-transparent: #c8003576;
}

html {
    font-size: 62.5%;
    font-family: 'Noto Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.4rem;
}


.logo-image {
    text-align: center;
}

.logo-image img {
    height: 60px;
}

.flag-image img {
    height: 50px;
}

header {
    background: #000000;
}

header>div {
    align-items: center;
}

.main-header.desktop {
    padding: 40px 20px;
    max-width: 1180px;
    margin: auto;

    width: 100%;
    background: #c10206;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0px;
}

.item-container {
    display: flex;
    justify-content: space-between;
}

.item-one {
    width: 60%;

}

.item-two {
    width: 40%;
    height: 60px;
}

.dark-theme .desktop .item-container .playstore {
    background: url('https://siteofsports.com/v2/content/topiclogo/Google_play_dark.jpg') no-repeat center center/cover;
}

.light-theme .desktop .item-container .playstore {
    background: url('https://siteofsports.com/v2/content/topiclogo/Google_play.jpg') no-repeat center center/cover;
}



@media screen and (max-width:1023px) {

    .footer {
        width: 100vw;
        height: 60px;
        position: fixed;
        bottom: 0%;
    }

    .dark-theme .footer-img {
        background: url('https://siteofsports.com/v2/content/topiclogo/Google_play_dark.jpg') no-repeat center center/cover;
    }

    .light-theme .footer-img {
        background: url('https://siteofsports.com/v2/content/topiclogo/Google_play.jpg') no-repeat center center/cover;
    }

}

.logo-title {
    margin: auto 10px;
    font-weight: 700;
    color: #fff;
}

.main-header .item {
    padding: 0px 15px;
    width: 100%;
}

/* @media screen and (max-width: 1023px) {
  .main-header .item {
    width: 100%;
  }
} */

.main-header .item:nth-child(1) {
    display: flex;
    justify-content: flex-start;
}

.main-header .item:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .item:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

.league-card .date {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 4px 2px;
}

.league-card .date p {
    font-size: 14px;
    color: black;
    margin-bottom: 0px;
    font-weight: 600;
}

.league-card {
    width: 100%;
    min-height: 200px;
    background: white;
    padding: 10px;
    border-radius: 12px;
    filter: drop-shadow(0px 2px 4px rgba(16, 24, 40, 0.04)) drop-shadow(0px 4px 6px rgba(16, 24, 40, 0.04));
}

.league-card .banner {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.league-card .banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.dark-theme .league-card .content p img {
    filter: invert(1);
}

.league-card .content p img {
    height: 20px;
}

.league-card .content p {
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-bottom: 0px;
    display: -webkit-box;
    // -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.abstart-color {
    font-weight: normal !important;
    color: gray !important;
    font-size: 13px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.suggested-card {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background: white;
    display: flex;
    filter: drop-shadow(0px 2px 4px rgba(16, 24, 40, 0.04)) drop-shadow(0px 4px 6px rgba(16, 24, 40, 0.04));
    justify-content: space-evenly;
    border-radius: 12px;
    margin-bottom: 10px;
}

.dark-theme .suggested-card h6 img {
    filter: invert(1);
}

.suggested-card h6 img {
    height: 22px;

}

.suggested-card .banner {
    width: 75%;

}

.suggested-card .horizontal-banner {
    width: 100%;
}

.suggested-card.tile-l .banner img {
    height: 100% !important;

}

.suggested-card.tile-l .banner {
    width: 100%;
    height: 260px;
}

.suggested-card .content {
    width: 100%;
    // padding: 0px 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.suggested-card .content h6 {
    font-size: 12px;
    margin-bottom: 0px;
}

.suggested-card .content p {
    font-size: 16x !important;
    margin: 0px;
    font-weight: 600;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 20px;
    overflow: hidden;
    font-family: 'Source Sans 3' !important;
}

.suggested-card .content p.desktopTop {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    line-height: 1.2;
}

.suggested-card .content p.desktop {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width: 768px) {
    .suggested-card .content p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        font-size: 10px;
        -webkit-box-orient: vertical;
    }

    .suggested-card {
        min-height: auto !important;
    }

}

@media only screen and (max-width: 1023px) {
    .logo-image img {
        padding: 5px;
    }
}

.suggested-card .horizontal-banner img,
.suggested-card .banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    min-height: 95px !important;
    max-height: 95px !important;
}

.suggested-card.tile-m.main-list .banner img {
    width: 75% !important;
}


body {
    font-family: 'Source Sans 3', sans-serif !important;
}

/* .side-width{
} */
.sidenav.open {
    /* Apply styles when the sidebar is open, e.g., setting the width */
    width: calc(100vw - 55px);
    /* padding-left: 30px; */
    padding-right: 5px;
}

.separator {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Source Sans 3 Black';
}

/* .separator::before, */
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #615c5c;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}


.sidenav {
    height: 100%;
    /* width: 0; */
    /* width: calc(100vw - 45px); */
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffff;
    border: 1px solid #d4c6c6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    scrollbar-width: thin;
    scrollbar-color: #000;
    scrollbar-track-color: #fff;
}

.sidenav.desktop.open {
    width: calc(100vw - 80vw);
}

.sidenav.desktop {
    top: 0px;
    left: 100% !important;
    transform: translate(-100%, 0) !important;
}

.sidenav::-webkit-scrollbar {
    width: 5px;
}

.sidenav::-webkit-scrollbar-track {
    color: #fff;
}

.sidenav::-webkit-scrollbar-thumb {
    color: #000;
}

.sidenav a {
    font-family: 'Source Sans 3';

    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 36px;
    /* margin-left: 50px; */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 30px;
    }

}





.sidenav .nav-item {
    padding: 8px 15px;
    /* padding-right: 22px; */
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    width: 100%;
    font-weight: 600;
    transition: 0.3s;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(250, 250, 250, .1);
    font-family: 'Source Sans 3';

    .flx {
        width: calc(100% - 100px);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .my-action-bar {
        padding: 0px 10px;
        white-space: nowrap;
    }
}



.sidenav .nav-item:hover {
    cursor: pointer;
    color: #c10206;
}

.nav-item-child {
    margin-bottom: 0;
}

.chevron-up {
    display: none;
}

.nav-item-sub-child {
    list-style-type: none;
    color: #1a1a1a00;
    cursor: pointer;
    padding-right: 32px;
    background: #f5f5f5;
    padding: 0px;

}

.nav-item-sub-child li:hover {
    background: #c10206 !important;

}

.sidenav li:hover a,
.sidenav li:hover i {

    color: white !important;
}


/* .sidenav .nav-item {
  color: #414141 !important;
} */

.nav-item-sub-child {
    margin-bottom: 0px !important;
}

.nav-item.collapsed {
    background: black !important;
}

.nav-item-sub-child li {
    border-bottom: 1px solid #20202063;
}

.nav-item-sub-child li {
    padding: 8px 15px;
    width: 100%;
    font-size: 15px;
    border-radius: 2px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.nav-item-sub-child li .icons a .fa-video {
    color: var(--color-red);
}

.nav-item-sub-child li .icons a .fa-newspaper {
    color: #414141;
}

.nav-item-sub-child li .icons a {
    padding-left: 15px;
    font-size: 16px;
}


.nav-item-sub-child li:hover {
    color: #fff;
    background-color: #818181;
}

.nav-item.collapsed .chevron-down {
    display: none;
}

.nav-item.collapsed .chevron-up {
    display: inline-block;
}


/* ///side */
.league-card {
    width: 100%;
    padding: 10px;
}

.highlight-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.highlight-thumbnail img {
    width: 100%;
    height: auto;
}

.watch-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 65%;
    padding: 35% 0 0 0;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #333;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    /* Setting a higher z-index value */
}


.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.league-card .content .date p {
    font-size: 11px;
}

.sidebar-heading {
    padding: 10px 10px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.topic-row {
    display: flex;
    align-items: center;
}

.coll-flag {
    height: 22px;
    margin-right: 10px;
    width: 35px;
    object-fit: cover;
}

.coll-flag:nth-child(3) {
    border: 1px solid white !important;
}

.coll-video {
    height: 21px !important;
    width: 21px !important;
}

/* .main-body.dark {
} */

/* .App.dark {
  background-color: #0e1218;
}

.main-body.dark main,
.top-articles {

  background-color: #c10206;
}

.main-body.dark .suggested-card {
  color: white;
  background-color: #1d2027;
}

.dark .content p,
h6 {
  color: white;
}

.dark .content .content-time-img {
  color: white;
}

.main-body.dark .topic-row .title {
  color: white;
}

.main-body.dark .article {
  color: white;
}


.main-body.dark .layout {
  background-color: #c10206;
}

.main-body.dark .main-card-section .main-card {
  background-color: #1d2027;
  color: white;
}

.main-body.dark .secondary-card-section .secondary-card {
  background-color: #1d2027;
  color: white;
} */

@media only screen and (max-width: 768px) {
    .main-header .logo {
        margin-left: 0;
    }

    .main-header .menu {
        margin-right: 0;
    }

    .modal-content {
        width: 90%;
        max-width: 500px;
        padding: 50.25% 0 0 0;
    }

    .layout {
        padding: 15px;
    }

    .main-body {
        padding: 70px 10px;
    }

    .league-card {
        margin-bottom: 10px;
    }

    .suggested-card {
        min-height: 120px;
    }




}

.article img {
    margin-top: 10px;
    margin-bottom: 15px;
}

.desktopTop {
    font-size: 23px !important;
    /* color: black; */
    font-family: 'Source Sans 3' !important;
}

@media screen and (max-width: 991px) {
    .flag-image img {
        height: 35px;
    }

    .sidenav {
        right: auto !important;
        left: 0 !important;
    }

    .sidenav .closebtn {
        left: auto;
        right: 20px;
    }


}

@media screen and (max-width: 1080px) {
    .dark-theme .league-card {
        margin-bottom: 10px;
        border-radius: 5px;
        background: #171a1e !important;
    }
}

.close-btn {
    height: 26px;
    width: 26px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c10206;
    border: none;

}

.separator {
    font-family: 'Source Sans 3';

}

.close-btn i {
    color: white;
    font-size: 16px;
}

.dark .sidenav {
    background-color: #0e1218;
    border: none;
}

.dark .sidenav .nav-item {
    color: white;
}

.dark .separator {
    color: #c10206;

}

.dark .nav-item-sub-child {
    background: #242424;

}

.dark .nav-item-sub-child li .icons a .fa-newspaper {
    color: #818181;
}

.dark-theme header,
.dark-theme main,
.dark-theme .layout,
.dark-theme .top-articles,
.dark-theme .main-header.desktop {
    background: #2d333c !important;
}

.dark-theme .suggested-card,
.dark-theme .layout .secondary-card .video-banner i,
.dark-theme .layout .main-card .video-banner i,
.dark-theme .layout .main-card,
.dark-theme .layout .secondary-card {
    background: #171a1e !important;
    color: white !important;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6,
.dark-theme a,
.dark-theme p,
.dark-theme span,
.dark-theme small,
.dark-theme b {
    color: white !important;

}

.dark .sidenav {
    border-left: 1px solid #f5f5f54d;
}

.light-theme .sidenav {
    background: #f5f5f5;
    border-left: 1px solid lightgray;

}

.light-theme .sidenav .nav-item {
    color: black;
}

.light-theme .separator {
    font-weight: bold;
}

.light-theme .nav-item-sub-child {
    background: white;

}

@media screen and (max-width: 1080px) {

    .dark-theme .artical-detail,
    .artical-detail-box {
        background: #171a1e !important;
    }

    .light-theme .artical-detail {
        background: white !important;
    }

    .light-theme .artical-detail-box {
        background: white !important;
    }
}


.nav-item-sub-child li .icons input {
    height: 15px;
    width: 15px;

}



@media only screen and (min-width: 991px) {
    .lg-d-none {
        display: none !important;
    }
}

.top-bar {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 10px;
    /* background: #1b1e23 !important; */
    overflow-x: scroll;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    background-color: #000;
    color: white;
}

//   .top-bar:hover {
//     overflow-x: scroll;
//   }


.top-bar a.active {
    background: #fff !important;
    color: black !important;
    border-radius: 10px;
}

.dark-theme .top-bar a.active {
    background: rgb(46, 46, 46) !important;
}

.dark-theme .hyusa {
    border: 2px solid rgb(76, 76, 76) !important;
}

.top-bar .tab .imgg {
    height: 20px;
    width: 20px;
    margin-left: 10px;

}

.top-bar .tab {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    // color: #fff !important;
    color: rgb(255, 255, 255) !important;
    background-color: #000 !important;
    padding: 5px 12px;
    font-size: 14px;
}

.action-bar-img {
    width: auto;
    height: 100%;
    object-fit: cover;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #090909;
}

.hyusa {
    /* width: calc(100% - 50px); */
    border-radius: 100px;
    border: 2px solid lightgray;
}

.hyusa .flag-image {
    margin: 5px 0px 5px 10px;
}



.hyusa select {
    border: none;
    /* height: 40px; */
    font-size: 14px;
    padding: 3px 10px 0px;
    outline: 2px solid transparent !important;
    box-shadow: none !important;
}

.my-action-bar {
    font-family: 'Source sans 3';
    font-size: 11px;
    text-align: center;
    font-weight: 500;
    color: #c10206;
}

.main-bodyFavmenu {
    padding: 110px 10px;
}

.c-dropdown {
    .flag-image {
        height: 40px;
        width: 40px;

    }

    .dropdown-menu {
        margin-top: 10px !important;
        border-radius: 2px;

        .dropdown-item {
            padding: 5px 10px;
            font-size: 12px;
        }
    }

    .flag-image img {
        height: 40px;
        width: 40px;
        object-fit: cover;

    }

    .dropdown-toggle::after {
        display: none;

    }
}

.action-bar-icon {
    display: flex;
}

.dark-theme {
    .c-dropdown .dropdown-menu {
        background: #171a1e !important;
        border: 1px solid #f5f5f572;
    }

    .topic img {
        filter: invert(1);
    }

}

.mobile-bottom-nav {
    width: 100%;
    height: 45px;
    background: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;

    .btn {
        width: 30%;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        height: 26px;
        padding: 0px;
        border: none;
    }

    .btn.active {
        background: #c10206;
        color: white;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-bottom-nav {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    .mobileScreenFavMenu {
        flex-wrap: wrap !important;
        display: flex;
        justify-content: space-between;

        .story-link-card {
            width: calc(50% - 5px) !important;

            .suggested-card {
                flex-direction: column;

                .banner {
                    width: 100%;
                    height: 80px;
                    margin-bottom: 5px;
                }

                .content {
                    padding: 0px !important;
                }
            }
        }
    }
}

.tagcontainer {
    border-radius: 18.5px;
    background: #FDE42F;
    width: fit-content;
    padding: 2px 10px;
    margin: 4px 0px;

    .tag {
        color: #000 !important;
        font-size: 13px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: normal !important;
    }
}

@media screen and (max-width: 768px) {
    .suggested-card.tile-m .content-time-img{
            font-size: 7px !important;
        }
}


.story-link-card.one .banner img{
    min-height: 40px !important;
    max-height: 80px !important;
}